@model IEnumerable<XemPhimTT.Models.Movietype>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Loại Phim</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Loại phim
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.movietypename)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.movietypeid }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.movietypeid })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>